@font-face {
   font-family: "mickey";
   src: url("./fonts/wicked-mouse-font/WickedMouse-aGoK.ttf") format("truetype"),
      url("./fonts/wicked-mouse-font/WickedMousex.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: "mickey", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serifsz;

   background-image: url("./images/mickeybackground.jpg");
   background-repeat: inherit;
}

#main-body {
   width: 20em;
   height: 100%;
   margin-top: 75px;
   margin-left: auto;
   margin-right: auto;
   background-color: whitesmoke;
   border-radius: 10px;
   box-shadow: 10px 10px 10px lightgray;
}

h1 {
   width: auto;
   padding-top: 18px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   letter-spacing: 3px;
   color: #2e86ab;
}

#list {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

li {
   padding-top: 8px;
   padding-top: 8px;
   font-size: 16px;
   letter-spacing: 1px;
}

#shuffle {
   width: 50%;

   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 30px;
}

button {
   width: 100%;
   height: 30px;
   border-style: hidden;
   font-family: mickey;
   letter-spacing: 2px;
   background-image: linear-gradient(
      to bottom right,
      rgb(130, 180, 255),
      rgb(42, 127, 255),
      rgb(130, 180, 255)
   );
   border-width: 0.5px;
   border-radius: 10px;
   color: whitesmoke;
}
